
 .slides{
    margin: 0 40px;
 }
.slider{
    width: 100%;
    margin: 0% auto; 
    height: 30rem;
       position: relative;
       overflow: hidden;
     
}

.slidimg {
    position: absolute;
    top: 0%;
    height: 28rem;
     transition: transform 0.5s linear;
}
 .dot{
    position: absolute;
    left: 50%;
    bottom:15%;
}
.dot button{
    padding: 7px;
    background-color: #ef975490;
    border:none;
    cursor: pointer;
}
.btn-active{
    background-color:#cd7108  !important;
}

.section-1 img{
    width: 100%;
   padding: 20px 0;

}
.animation1{
     background-color: #cd7108; 
       font-size: 30px;
       font-weight:500;
        padding: 16px 0 ; 
         color: #060707;
  line-height: 1.5 ;
   overflow: hidden;
}
span{
    font-size: 40px;
    font-weight: bold;
}
.left{
    animation: moveleft 15s  linear infinite;
    display: flex;
    justify-content:space-between;
    align-items: center;
    white-space: nowrap; 
   
}

@keyframes moveleft {
    0%{
    transform:translateX(-100%) ;
    }
    100%{
      transform:translateX(100%)
    }
   
    
  }
  .section-2{position: relative;}
 .title{
    text-align: center;
    margin:30px auto;
    font-weight: 300;
    font-size: 30px;
    padding: 15px 0;
    background-color: rgba(173, 117, 212, 0.99);
    width:25%;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.cardsLifestyle{
    display: grid; 
     grid-template-columns: repeat(2,450px); 
     justify-content: center;
     align-items: center;
     gap: 30px;
}

.cards{
    display: grid; 
     grid-template-columns: repeat(4,200px);
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.card{
    border: 1px solid black;
 padding: 10px;

 
}
.img-product{
    display: flex;
    width: 100%;
    transition: opacity 0.3s linear;
    
}
.stars{
    display: flex;
    justify-content: flex-start;
}
.stars img{
    margin: 0 2px;
}

.stars p{
    color:#060707;
    font-weight: 700;
}
.price1{
    color: #B1B5B7 !important;
    margin-right: 5px;
}

.color span{
    margin-top: 10px;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 border: 1px solid black;
 /* background-color: black; */
 display: inline-block;
}
#black{
    background-color: #060707;
}
#orange{
    background-color: #EF9854;
}
#purple{
    background-color: #b698e9;
}
#white{
    background-color:white;
}
#blue{
    background-color: #29ccf5;
}
.space{
    display: grid;
    row-gap: 10px;
}

.changimg{
    cursor: pointer;
}

.all{
   display: block;
   width: 15%;
   cursor: pointer;
   margin:30px auto;
   font-size: 20px;
    padding: 10px;
    background-color: #D9E8B6;
}


.colecation{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    /* height:25rem; */
margin-bottom:3rem;
}

.text-hidden{
    display: grid;
    justify-content:center;
    align-items: center;
}
.aria-hidden{
    border-top: 2px solid black;
    padding: 10px 0;
    width: 25rem;
    
  
}
.aria-hidden p{
    display: none;
        background-color: #D9E8B6;
    padding: 20px 5px;
}

.colecation-img{
width: 35%;
border: 1px solid black;


}
.colecation-img img{
    width: 100%;
    height:25rem;
    transform: translate(-10px,-10px);
  
}
.visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visible i{
    padding-right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.section-4{
   margin: 0 40px;
    background:
     linear-gradient(to right ,rgb(90, 78, 78)1px ,transparent 1px ),
    linear-gradient(to bottom ,rgb(73, 63, 63)1px ,transparent 1px );
    background-blend-mode: overlay;
    background-position: 0 0,0 0,0 0;
    background-size: 20px  20px;

}
.bg-img{    height:25rem;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
    background:
    linear-gradient(to right,#ed98dcc9  ,hsla(26, 83%, 63%, 0.765))
}

.search{
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: space-between;
}

.text-img p{
 margin:auto ;
 margin-top: 20px;
 margin-bottom: 20px;
 width: 60%;
/* align-items: center; */
}
.m-b{
    margin: 10px 0;
}
.section-5 .cards{
    /* width: 100%; */
    /* margin: 0 40px; */
 display: grid;
 grid-template-columns: repeat(2,450px);
 justify-content: center;
 align-items: center;
 column-gap: 20px;
}
.section-5 .cards::-webkit-scrollbar{
    margin-bottom: 20px;
    height: 7px;
    width: 7px;
}

.section-5 .cards::-webkit-scrollbar-thumb {
    background-color: #bebbbbca;/* لون القلب */
    border-radius: 5px; 
    /* width: 10px; */
    /* شعاع الزوايا */
}
.big-card {
    /* width: 95%; */
 justify-content: center;
    padding: 20px;
    border: 2px solid black;
    margin: 20px 0px;

}
.big-card img{
    width: 100%;
    height:300px;
    margin-bottom: 10px;
}
.left .ri-add-line{
    padding:  0 30px;
    font-size: 40px;
}
.renix_icon i{
    cursor: pointer;
}
.renix_icon i:hover{
color: #EF9854;
}

@media (max-width:930px) {
    
.cards{
     grid-template-columns: repeat(3,250px);
}
.cardsLifestyle{
    display: grid; 
     grid-template-columns: repeat(2,400px); 
    }
}
@media (max-width:870px) {
.footer__top form {
    flex-basis: 268px;
}
}

@media (max-width:820px) {
    .cards{
        grid-template-columns: repeat(2,300px);
   }
   .colecation {
  flex-direction: column;
    }
    .colecation-img{
        margin: auto;
        width: 80%;
        margin-top: 40px;
    }
    .aria-hidden {
        width: 35rem;
    }
    .footer__email-input ,.footer__submit-input {
        margin: auto;
        margin-top: 20px;
    }
    .search{
flex-direction: column;
    }
    .cardsLifestyle{
        display: grid; 
         grid-template-columns: repeat(1,600px); 
        }
        .all  {
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .title {
        font-size: 20px;
    }
    .marginLeft{
        margin-left: 40px;
    }
       
}

@media (max-width:700px) {
    .footer__top nav {
    flex-wrap: wrap;
}
.footer__nav-column{
 width: 30%;
 justify-content: space-around;
}
.footer__sub{
    display: grid;
}
form h3{
   margin-top: 30px;
}
.footer__sub ul {
    justify-content: center;
    margin-top: 20px;
}
.footer__top nav {
    flex-grow:0;
}
form .lexend--font{
    width: 100%;
}
}
@media (max-width:650px) {
    .cards{
        grid-template-columns: repeat(1,450px);
    }
.footer__nav-column {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}
   .aria-hidden {
    width:28rem;
}

.cardsLifestyle {
    grid-template-columns: repeat(1,460px);
}
.all{
    width: 20%;
}
}

@media (max-width:470px) {
    .cards{
        grid-template-columns: repeat(1,300px);
    }
     .aria-hidden {
        width:20rem;
    }
    .colecation-img {
    width: 60%;
}
.cardsLifestyle {
    grid-template-columns: repeat(1,300px);
}
.all{
    width: 30%;
}
.title{
    width: 50%;
}
.footer__sub {
    font-size: 14px;
}
}

.likeProduct{
    display: flex;
    justify-content: space-between;
}
.likeProduct i{
font-size: 20px;
cursor: pointer;
}
.starlike{
    height: 18px;
    width: 18px;
    /* background: linear-gradient(to right, #ffcc00 100%, transparent 10% ); */
    clip-path: polygon( 50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35% ) }
